header {
    background-color: rgb(34, 34, 34);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  .website-name {
    color: #fff;
    font-family: "Founders Grotesk";
    font-style: normal;
    font-weight: 600;
    margin-left: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    color: #becaca;
    padding: 10px;
  }
  
  nav .login {
    background: linear-gradient(90deg, #6319cf 0%, #2d67f5 98.01%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 51px;
    padding: 10px 15px;
  }
  
  /* footer styles */
  footer {
    background-color: rgb(48, 47, 47);
    color: #fff;
    padding: 30px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-us,
  .company,
  .other-links {
    margin-left: 65px;
    flex-basis: calc(100% / 3);
  }
  
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  